@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "JetBrains Mono", monospace;
  font-size: 1.6rem;
  background: #212226;
  color: white;
}

.container {
  max-width: 120rem;
  width: 90%;
  padding: 1.6rem;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.2rem auto 0 auto;
}

#header .logo {
  font-size: 2.4rem;
  border-left: 5px solid #5280e2;
  padding-left: 0.9rem;
  height: 6rem;
  cursor: pointer;
}

.nav-bar ul {
  font-size: 1.8rem;
  display: flex;
  gap: 3.2rem;
  list-style: none;
}

.nav-bar ul li a {
  border-bottom: 2px solid #15cdcb;
  border-width: 0;
  text-decoration: none;
  color: white;
  cursor: pointer;
  color: #15cdcb;
  position: relative;
}

.nav-bar ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #15cdcb;
  position: absolute;
  bottom: -0.8rem;
  left: 0;
  transition: width 0.3s;
}

.nav-bar ul li a:hover::after {
  width: 100%;
}

.section-hello {
  margin: 10.6rem auto;
}

.section-hello .hello {
  max-width: 48.7rem;
  width: 100%;
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.hello h2 {
  font-size: 3.6rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #15cdcb;
}

.section-hello .button {
  text-decoration: none;
  font-family: "JetBrains Mono", monospace;
  background: #5280e2;
  border: none;
  padding: 1rem 2.5rem;
  color: white;
  font-size: 1.8rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: 0.3s;
}

.section-hello .button:hover {
  transform: translateX(0.5rem);
  background: #5280e28e;
}

.section-about {
  display: flex;
  gap: 12.1rem;
  margin: 10.6rem auto;
}

.about h2 {
  font-size: 3.6rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #15cdcb;
}

.about p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.section-about .about {
  max-width: 52.1rem;
  width: 100%;
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
}

.section-services {
  margin: 10.6rem auto;
  text-align: center;
}

.services h2 {
  font-size: 3.6rem;
  margin-top: 1rem;
  margin-bottom: 5.8rem;
  color: #15cdcb;
}

.services-cards {
  display: flex;
  justify-content: center;
  gap: 7.1rem;
}

.services-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.6rem;
  max-width: 35.7rem;
  width: 100%;
  background-color: #2f3034;
  border: 1px solid #15cdcb;
  border-radius: 1.6rem;
}

.services-cards .card h3 {
  color: #15cdcb;
  margin-bottom: 1.3rem;
}

.services-cards .card p {
  margin: 0 auto 5.3rem auto;
  margin-bottom: 5.3rem;
}

svg {
  margin-top: 4.2rem;
  margin-bottom: 3.8rem;
  border-radius: 50%;
}

.section-portfolio {
  height: 63.6rem;
  background-image: url(../img/bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-portfolio h2 {
  font-size: 3.6rem;
  margin-top: 1rem;
  margin-bottom: 5.8rem;
  color: #15cdcb;
}

.portfolio {
  display: flex;
  gap: 7.1rem;
}

.portfolio .card {
  max-width: 37.4rem;
  width: 90%;
  border-radius: 1.6rem;
  padding: 0 1.6rem;
  background: linear-gradient(159.02deg,
      rgba(255, 255, 255, 0.4) 5.17%,
      rgba(255, 255, 255, 0) 96.84%),
    radial-gradient(100% 100% at 0% 0%,
      rgba(255, 255, 255, 0.33) 0%,
      rgba(255, 255, 255, 0) 100%);
}

.portfolio .card img {
  display: block;
  max-width: 32.1rem;
  width: 100%;
  margin: 5rem auto 2.65rem auto;
  transition: .3s;
  cursor: pointer;
}

.portfolio .card img:hover {
  transform: translateY(-1rem);
}

.portfolio .card .div-span {
  margin-bottom: 1.6rem;
  padding: 0 .8rem;
}

.portfolio .card .div-span span {
  font-size: 1.1rem;
  font-weight: 200;
  color: #15cdcb;
  border: 1px solid #15cdcb;
  border-radius: 1.4rem;
  padding: .4rem;
}

.portfolio .card h4 {
  font-size: 1.8rem;
  padding: 0 .8rem;
  cursor: pointer;
  transition: .2s;
  width: min-content;
}

.portfolio .card h4:hover {
  color: #5280e2;
  transform: translateY(-.3rem)
}

.portfolio .card p {
  font-size: 1.3rem;
  padding: 0 .8rem;
  margin: .5rem auto 4.5rem auto;
}